.flex-container {
    display: flex;
}

body {
    margin: 0;
}

html {
    font-family: Verdana, Helvetica, sans-serif;
}

/*header*/
.header {
    background-color: #ccf5ff;
    color: white;
    display: flex;
}
.header h2 {
    color: black;
    padding-left: 1em;
    display: flex;
    justify-content: center;
}

/*sidebar menu*/
.flex-child{
    flex: 40;
}
#menu {
    flex: 1;
    transition: 0.1s;
}
#menu-icon {
    padding: 0.5em;
    transition: 0.1s;
    border-radius: 10%;
}
#menu-icon:hover {
    background-color: #c1d7d7;
}
#menu-icon:active {
    background-color: #92b9b9;
}
#display-cells {
    display: none;
    margin: 1em;
}

/*multi select*/
.multiselect {
    width: 100%;
  }
  .selectBox {
    position: relative;
  }
  .selectBox select {
    width: 100%;
  }
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
  }
  #mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    /* padding: .375rem 2.25rem .375rem .75rem; */
  }
  #mySelectOptions label:hover {
    background-color: #1e90ff;
  }

/*tables*/
table{
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}
.table-header {
    text-align: center;
}
tr {
    display: flex;
}
td {
    border: 1px solid;
    flex-grow: 1;
    max-width: 10%;
    padding: 0.5em;
}
td img {
    width: 100%;
}