.header {
    background-color: #669999;
}

.flex-container {
    display: flex;
}

body {
    margin: 0;
}

table{
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}
.table-header {
    text-align: center;
}
tr {
    display: flex;
}
td {
    border: 1px solid;
    flex-grow: 1;
    max-width: 11%;
    padding: 0;
}
td img {
    width: 100%;
}